
section {
    padding: 60px 8%;
    background-color: #0e0e0e;
    color: #ffffff;
  }
  
  .section-title {
    color: white;
    font-size: 32px;
    margin-bottom: 40px;
    border-bottom: 2px solid #ff2c2c;
    display: inline-block;
    padding-bottom: 10px;
  }
  


.contact-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    background: #161616;
    border: 1px solid #333;
    padding: 12px;
    margin-bottom: 15px;
    color: #fff;
    border-radius: 8px;
  }
  
  .contact-form input::placeholder,
  .contact-form textarea::placeholder {
    color: #888;
  }
  
  .contact-form button {
    background: #ff2c2c;
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s ease;
  }
  
  .contact-form button:hover {
    background: #e60000;
  }
  
  .contact-info p {
    margin-bottom: 15px;
    color: #cccccc;
  }
  