
section {
    padding: 60px 8%;
    background-color: #0e0e0e;
    color: #ffffff;
  }
  
  .section-title {
    color: white;
    font-size: 32px;
    margin-bottom: 40px;
    border-bottom: 2px solid #ff2c2c;
    display: inline-block;
    padding-bottom: 10px;
  }
  

  .services-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
  }
  
  .service-card {
    background: #161616;
    padding: 25px;
    border-radius: 15px;
    transition: 0.3s ease;
    border: 1px solid #222;
  }
  
  .service-card h3 {
    color: #ff2c2c;
    margin-bottom: 15px;
  }
  
  .service-card p {
    color: #cccccc;
    line-height: 1.6;
  }
  
  .service-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(255, 44, 44, 0.2);
  }
  
  